.body {
	background-image: url("http://wallpaperscraft.com/image/82218/1080x1920.jpg");
}
.logo {
	margin-top: 15px;
	height: 100px;
	z-index: 2 !important;
	position: absolute;
	margin-left: 27.5%;
}


.headline {
	width: 0px;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 40px
}


.headline h1 {
	font-size: 100px;
	text-align: center;
	color: #0537AD;
	font-family: draw;
	z-index: 1 !important;
	position: absolute;
	margin-top: 3px;
	margin-left: 36%;
}


#instafeed {
	text-align: center;
}


#instafeed img {
	width: 300px; 
	border-style: solid;
	border-color: white;
	margin: 20px;	
} 


@font-face {
	font-family: 'draw';
	src: url('../soft.ttf');
}
